.header{
    font-size: 24px;
    text-align: center;
    padding-top: 5%;
    position: sticky;
    top: 0;
    opacity: 1;
    background-color: white;
}


.container{
    width: 100%;
    height: 64px;
    display: grid;
    grid-template-rows: 30px auto;
    grid-template-columns: 1fr 3fr 1fr;
    text-decoration: none;
    border-bottom: solid 1px #9b9b9b;
}

.boxA{
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: span 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 7px;
    margin-left: 10%;
    border: 1px solid #000;
}

.boxB{
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 2;
    grid-column-end: span 1;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.boxC{
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column-start: 2;
    grid-column-end: span 1;
    text-decoration: none;
    color: darkgray;
}

.boxD{
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column-start: 3;
    grid-column-end: span 1;
    text-decoration: none;
    color: darkgray;
}

.footer{
    position: fixed;
    opacity: 1;
    bottom: 0;
    background-color: white;
}

.body{
    padding-bottom:64px ;
}