.header{
    font-size: 24px;
    text-align: center;
    margin-top:5% ;
}


.container{
    width: 100%;
    display: grid;
    grid-template-rows: 30% 30%;
    grid-template-columns: 1fr 3fr;
    text-decoration: none;
    margin-bottom: 5%;
}

.boxA{
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: span 1;
    margin-top: 20%;
    margin-bottom: 5%;
    margin-left: 15%;
    font-size:24px ;
}

.boxB{
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 2;
    grid-column-end: span 1;
    text-decoration: none;
    color: black;
}

.boxC{
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column-start: 2;
    grid-column-end: span 1;
    text-decoration: none;
    color: black;
}

.item{
    margin-left: 40%;
}

button{
    display: block;
    color: #000;
    text-align: center;
    width: 70px;
    border: 1px solid #000;
    font-size:16px ;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}