
{% extends "myapp/base.html"%}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/friends.css' %}">
{% endblock %}
{% block header %}
<div class=header>友達</div>
{% endblock %}
{% block content %}

<div class="body">
        {% for i in talk %}
            {% for obj in object_list %}
                {%if i.0 == user and i.1 == obj or i.0 == obj and i.1 == user %}
                    <a href= "{% url 'talk_room' obj.id %}" class="container"> 
                    {%if obj.image%}<img src="{{obj.image.url}}" class="boxA">{%endif%}
                    <span class="boxB">{{obj.username}}</span>
                    <span class="boxC">{{i.2}}</span>
                    <span class="boxD">{{i.3|date:"m/d H:i"}}</span>
                    </a>
                {%endif%}
            {% endfor%}
        {% endfor %}
</div>





{% endblock %}
{% block footer %}
<footer class="footer">
    <div class="footer-container">
        <div class="footer-container__item">
            <a href="{% url 'friends' %}" class="footer-item__link">
                <span class="footer-item__icon"><img src="{% static 'myapp/img/people-24px.svg' %}"></span>
                <span class="footer-item__text">友達</span>
            </a>
        </div>
        <div class="footer-container__item">
            <a href="{% url 'setting' %}" class="footer-item__link">
                <span class="footer-item__icon"><img src="{% static 'myapp/img/settings-black-18dp.svg' %}"></span>
                <span class="footer-item__text">設定</span>
            </a>
        </div>
    </div>
</footer>
{% endblock %}
{% block extra_js %}{% endblock %}